{% assign members = site.data.members %}

<style>
img {
	filter: grayscale(100%);
}
</style>

<div class="flex-items-md-center text-md-center">

    <div class="row col-md-12">
    {% for m in members %}
    {% unless m.status == 'advisor'%}
    {% unless m.status == 'alumni'%}
      <div class="col-lg-4 col-md-4 col-sm-6 mb-1" style='text-align:center'>
        {% include member.html %}
       </div>
     {% endunless %}
     {% endunless %}
    {% endfor %}
    </div>

    <h4>advisory committee</h4>
    <div class="row col-md-12">
    {% for m in members %}
      {% if m.status == 'advisor' %}
      <div class="col-lg-4 col-md-4 col-sm-6 mb-1" style='text-align:center'>
        {% include member.html %}
      </div>

      {% endif %}
    {% endfor %}
    </div>

    <h1>alumni</h1>
    <div class="row col-md-12">
        {% for m in members %}
        {% if m.status == 'alumni' %}
        <div class="col-lg-4 col-md-4 col-sm-6 mb-1" style='text-align:center'>
            {% include member.html %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>
