<a href="mailto:{{m.email}}" title="email"><i class="fa fa-envelope"></i></a>
{% if m.googlescholar %}<a href="{{m.googlescholar}}" title="Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
{% if m.github %}<a href="https://github.com/{{m.github}}" title="GitHub"><i class="fa fa-github"></i></a>{% endif %}
{% if m.orcid %}<a href="https://orcid.org/{{m.orcid}}" title="ORCID ID"><i class="ai ai-orcid"></i></a>{% endif %}
{% if m.linkedin %}<a href="{{m.linkedin}}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>{% endif %}
{% if m.twitter %}<a href="https://twitter.com/{{m.twitter}}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
